# Heroes of Pymoli

## Observed Trends

In [ ]:
# Trend 1
    text
# Trend 2
    text
# Trend 3
    text

## Importing Dependencies and Reading Json into a Data Frame

In [22]:
# import dependencies
import pandas as pd
import numpy as np

In [23]:
# open json file as data frame
json_file = "purchase_data.json"
purchase_df = pd.read_json(json_file, encoding="ISO-8859-1")
#print(type(player_data))
purchase_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [24]:
# look for missing values (I know it isn't part of the hw but it is good practice to check)
purchase_df.count()

Age          780
Gender       780
Item ID      780
Item Name    780
Price        780
SN           780
dtype: int64

## Player Count

In [25]:
# total number of players

player_ndarray = purchase_df['SN'].unique()
#print(type(player_series))
player_count = (len(player_ndarray))
#print(player_count)

player_count_df = pd.DataFrame({"Total Players": [player_count]})
player_count_df

   Total Players
0            573

## Purchasing Analysis (Total)

In [26]:
# unique item count
items_series = purchase_df['Item Name'].value_counts()
#print(type(items_series))
item_count = (len(items_series))
#print(item_count)

# mean purchase price
price_mean = purchase_df['Price'].mean()
#print(type(price_mean))
#print(str(price_mean))

# total number of purchases
purchase_count = (len(purchase_df.index))
#print(type(purchase_count))
#print(purchase_count)

# total revenue
revenue = purchase_df['Price'].sum()
#print(type(revenue))
#print(revenue)
purchase_summary_df = pd.DataFrame({"Number of Unique Items": [item_count],
                                    "Average Price": [str(round(price_mean, 2))],
                                    "Number of Purchases": [purchase_count],
                                    "Total Revenue": [str(round(revenue, 2))],
                                    })

purchase_summary_df

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0          2.93                  780                     179       2286.33

## Gender Demographics

In [27]:
# counts and percents of each gender category
players_df = purchase_df.drop_duplicates(['SN'], keep= 'first')
grouped_gender= players_df.groupby(['Gender'])
gender_count = grouped_gender['SN'].count()
#print(type(gender_count))
gender_pct = (gender_count/player_count)*100
gender_pct
#print(type(gender_pct))
gender_summary_df = pd.DataFrame({"Player total": gender_count, 
                                  "Percentage of Players": round(gender_pct)
                                 })
gender_summary_df = gender_summary_df[["Percentage of Players","Player total"]]
gender_summary_df

                       Percentage of Players  Player total
Gender
Female                                  17.0           100
Male                                    81.0           465
Other / Non-Disclosed                    1.0             8

## Purchasing Analysis (Gender)

In [34]:
#counts and averages of sales by gender
grouped_gender_sales = purchase_df.groupby(['Gender'])
gender_sales_count = grouped_gender_sales['Price'].count()
gender_sales_ave = grouped_gender_sales['Price'].mean()
gender_sales_sum = grouped_gender_sales['Price'].sum()
gender_sales_nt = (gender_sales_sum/[gender for gender in gender_count])
gender_purchase_summary_df = pd.DataFrame({
                                    "Purchase Count": gender_sales_count,
                                    "Average Purchase Price": round(gender_sales_ave, 2),
                                    "Total Purchase Value": gender_sales_sum,
                                    "Normalized Totals": round(gender_sales_nt,2)
                                    })
gender_purchase_summary_df = gender_purchase_summary_df[["Purchase Count", "Average Purchase Price","Total Purchase Value","Normalized Totals"]]

gender_purchase_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,136,2.82,382.91,3.83
Male,633,2.95,1867.68,4.02
Other / Non-Disclosed,11,3.25,35.74,4.47

## Age Demographics

In [29]:
bins = [0, 10, 14, 19, 24, 29, 34, 39, 40]
group_names = ['< 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', '40+']
age_dem = pd.cut(players_df['Age'], bins, labels=group_names)
age_count = age_dem.value_counts()
age_pct = (age_count/player_count)*100
age_pct
#print(type(gender_pct))
age_summary_df = pd.DataFrame({"Player total": age_count, 
                                  "Percentage of Players": round(age_pct)                               
                                 })
age_summary_df = age_summary_df[["Percentage of Players","Player total"]]
age_summary_df = age_summary_df.reindex(group_names)
age_summary_df

         Percentage of Players  Player total
< 10                       4.0            22
10 - 14                    3.0            20
15 - 19                   17.0           100
20 - 24                   45.0           259
25 - 29                   15.0            87
30 - 34                    8.0            47
35 - 39                    5.0            27
40+                        1.0             8

## Purchasing Analysis (Age)

In [54]:
age_sales = purchase_df.groupby(pd.cut(purchase_df['Age'], bins, labels=group_names))
age_sales_count = age_sales['Price'].count()
age_sales_ave = age_sales['Price'].mean()
age_sales_sum = age_sales['Price'].sum()
age_sales_nt = (age_sales_sum/[bin for bin in age_count])
age_purchase_summary_df = pd.DataFrame({
                                    "Purchase Count": age_sales_count,
                                    "Average Purchase Price": round(age_sales_ave, 2),
                                    "Total Purchase Value": age_sales_sum,
                                    "Normalized Totals": round(age_sales_nt,2)
                                    })
age_purchase_summary_df = age_purchase_summary_df[["Purchase Count", "Average Purchase Price","Total Purchase Value","Normalized Totals"]]

age_purchase_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age,,,,
< 10,32,3.02,96.62,0.37
10 - 14,31,2.70,83.79,0.84
15 - 19,133,2.91,386.42,4.44
20 - 24,336,2.91,978.77,20.82
25 - 29,125,2.96,370.33,13.72
30 - 34,64,3.08,197.25,8.97
35 - 39,42,2.84,119.40,5.97
40+,14,3.22,45.11,5.64

## Top Spenders

In [55]:
top_spenders = purchase_df.groupby(['SN'])
players_sales_count = top_spenders['Price'].count()
players_sales_mean = top_spenders['Price'].mean()
players_sales_sum = top_spenders['Price'].sum()
top_spenders_summary_df = pd.DataFrame({
                                    "Purchase Count": players_sales_count,
                                    "Average Purchase Price": round(players_sales_mean, 2),
                                    "Total Purchase Value": players_sales_sum
                                    })
top_spenders_summary_df = age_purchase_summary_df[["Purchase Count", "Average Purchase Price","Total Purchase Value"]]
top_spenders_summary_df = age_purchase_summary_df.sort_values(['Total Purchase Value'], ascending=[False])
top_spenders_summary_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age,,,,
20 - 24,336,2.91,978.77,20.82
15 - 19,133,2.91,386.42,4.44
25 - 29,125,2.96,370.33,13.72
30 - 34,64,3.08,197.25,8.97
35 - 39,42,2.84,119.40,5.97

## Most Popular Items

In [56]:
top_items = purchase_df.groupby(['Item ID'])
top_name = top_items['Item Name']
top_price = top_items['Price']
top_count = top_items['Price'].count()
top_sum = top_items['Price'].sum()
top_purchase_summary_df = pd.DataFrame({
                                    "Purchase Count": top_count,
                                    "Total Purchase Value": top_sum,
                                    "Item Name": top_name,
                                    "Item Price": top_price
                                    })
top_purchase_summary_df = age_purchase_summary_df[["Item Name","Purchase Count", "Item Price","Total Purchase Value"]]
top_purchase_summary_df = age_purchase_summary_df.sort_values(['Total Purchase Value'], ascending=[False])
top_purchase_summary_df.head()

ValueError: setting an array element with a sequence.

## Most Profitable Items