In [1]:
### import dependencies
import pandas as pd
import numpy

In [8]:
### open json file as data frame
json_file = "purchase_data.json"
player_data_df = pd.read_json(json_file, encoding="ISO-8859-1")
#print(type(player_data))
player_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [62]:
### look for missing values
player_data_df.count()

Age          780
Gender       780
Item ID      780
Item Name    780
Price        780
SN           780
dtype: int64

In [61]:
### total number of players
player_series = player_data_df['SN'].value_counts()
#print(type(player_series))
player_count = (len(player_series))
#print(player_count)

In [60]:
### purchasing analysis (total)

### unique item count
items_series = player_data_df['Item Name'].value_counts()
#print(type(items_series))
item_count = (len(items_series))
#print(item_count)

### mean purchase price
price_mean = player_data_df['Price'].mean()
#print(type(price_mean))
#print(str(price_mean))

### total number of purchases
purchase_count = (len(player_data_df.index))
#print(type(purchase_count))
#print(purchase_count)

### total revenue
revenue = player_data_df['Price'].sum()
#print(type(revenue))
#print(revenue)

In [59]:
### gender demographics

grouped_gender_df = player_data_df.groupby(['Gender'])
#print(type(grouped_gender_df))
grouped_gender_df.count().head()

                       Age  Item ID  Item Name  Price   SN
Gender
Female                 136      136        136    136  136
Male                   633      633        633    633  633
Other / Non-Disclosed   11       11         11     11   11